{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {test_relx, "0.1.0"},
         [test_relx,
          sasl]},

        {mode, dev},

        {overlay_vars, "./config/overlay.config"},
        {overlay, [
          {template, "./config/sys.config", "{{output_dir}}/releases/{{release_version}}/sys.config"}
        ]},
        {vm_args, "./config/vm.args"}

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
                     ]
            }]}]}.
